<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="VisioForge.DotNet.Core.Redist.Base.x64" version="14.1.23" targetFramework="net48" />
  <package id="VisioForge.DotNet.Core.TRIAL" version="14.1.23" targetFramework="net48" />
  <package id="VisioForge.DotNet.VideoCapture.TRIAL" version="14.1.23" targetFramework="net48" />
</packages>